# Webscraping Traditional NBA Pipeline

In [1]:
from selenium import webdriver
from selenium.webdriver.edge.service import Service
from selenium.common.exceptions import WebDriverException
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import Select
from bs4 import BeautifulSoup as bs
from time import sleep
import requests
import pandas as pd
import numpy as np

In [2]:
# Make a url list
url_base = 'https://www.nba.com/stats/players/traditional/?PerMode=Totals&sort=PTS&dir=-1&Season='
url_list = []
a = 2021

while a >= 1996:
    b = a+1
    new_url = url_base + str(a) + "-" + str(b)[-2:] + "&SeasonType=Regular%20Season"
    a -=1
    url_list.append(new_url)

In [3]:
url_list[:5]

['https://www.nba.com/stats/players/traditional/?PerMode=Totals&sort=PTS&dir=-1&Season=2021-22&SeasonType=Regular%20Season',
 'https://www.nba.com/stats/players/traditional/?PerMode=Totals&sort=PTS&dir=-1&Season=2020-21&SeasonType=Regular%20Season',
 'https://www.nba.com/stats/players/traditional/?PerMode=Totals&sort=PTS&dir=-1&Season=2019-20&SeasonType=Regular%20Season',
 'https://www.nba.com/stats/players/traditional/?PerMode=Totals&sort=PTS&dir=-1&Season=2018-19&SeasonType=Regular%20Season',
 'https://www.nba.com/stats/players/traditional/?PerMode=Totals&sort=PTS&dir=-1&Season=2017-18&SeasonType=Regular%20Season']

In [7]:
dataframe_list = []
n=1 # Make a counter to see how many webpages are scraped

# Scrape stat table for each url in url_list
for url in url_list:
    # provide path to the Edge driver
    s=Service("C:\\Users\sandr\OneDrive\Desktop\Drivers\msedgedriver.exe")
    driver = webdriver.Edge(service=s)
    
    # Make python pause for some time
    sleep(2)

    # Get the page HTML
    try:
        driver.get(url)
        # Make python pause for some time
        sleep(3)
    except WebDriverException:
        print("Webdriver is acting immediately after ‘closing’ the browser")

    # Click on accept cookies button
    driver.find_element(By.XPATH, "/html/body/div[5]/div[2]/div/div[1]/div/div[2]/div/button").click()

    # Make python pause for some time
    sleep(4)

    # Select table page
    select_page = Select(driver.find_element(By.XPATH,"/html/body/main/div/div/div[2]/div/div/nba-stat-table/div[1]/div/div/select"))
    select_page.select_by_visible_text('All')

    # Use BeautifulSoup and lxml extension to parse, save in variable nba_soup
    nba_soup = bs(driver.page_source, 'lxml')
    
    # Locate the table on the page
    table = nba_soup.find('table')
   
    # Find all the headers in the columns
    headers=[]
    for i in table.find_all('th'):
        title = i.text.replace("\n", "").strip()
        headers.append(title)
    
    # Remove redundant headers
    headers_2 = ['PLAYER','TEAM','AGE','GP','W','L','MIN','PTS','FGM','FGA',
                 'FG%','3PM','3PA','3P%','FTM','FTA','FT%','OREB','DREB', 
                 'REB','AST','TOV','STL','BLK','PF','FP','DD2','TD3','+/-']

    # Create a dataframe using the headers as column names
    nba_stat = pd.DataFrame(columns = headers_2) 

    # Create a for loop to fill nba_stat
    for i in table.find_all('tr')[1:]:
        row_data = i.find_all('td')[1:]
        row =[j.text.replace("\n", "") for j in row_data] 
        length = len(nba_stat)
        nba_stat.loc[length] = row
    
    print("Completed:", n, "webpage(s) scraped.")
    n +=1 # add 1 to counter every successful page retrieved
        
    # Close all browsers
    driver.quit()

    # Append table to list of dataframes
    dataframe_list.append(nba_stat)

Webdriver is acting immediately after ‘closing’ the browser
Completed: 1 webpage(s) scraped.
Completed: 2 webpage(s) scraped.
Webdriver is acting immediately after ‘closing’ the browser
Completed: 3 webpage(s) scraped.
Webdriver is acting immediately after ‘closing’ the browser
Completed: 4 webpage(s) scraped.
Webdriver is acting immediately after ‘closing’ the browser
Completed: 5 webpage(s) scraped.
Completed: 6 webpage(s) scraped.
Completed: 7 webpage(s) scraped.
Completed: 8 webpage(s) scraped.
Webdriver is acting immediately after ‘closing’ the browser
Completed: 9 webpage(s) scraped.
Completed: 10 webpage(s) scraped.
Webdriver is acting immediately after ‘closing’ the browser
Completed: 11 webpage(s) scraped.
Webdriver is acting immediately after ‘closing’ the browser
Completed: 12 webpage(s) scraped.
Webdriver is acting immediately after ‘closing’ the browser
Completed: 13 webpage(s) scraped.
Webdriver is acting immediately after ‘closing’ the browser
Completed: 14 webpage(s) scraped.
Completed: 15 webpage(s) scraped.
Webdriver is acting immediately after ‘closing’ the browser
Completed: 16 webpage(s) scraped.
Completed: 17 webpage(s) scraped.
Webdriver is acting immediately after ‘closing’ the browser
Completed: 18 webpage(s) scraped.
Completed: 19 webpage(s) scraped.
Webdriver is acting immediately after ‘closing’ the browser
Completed: 20 webpage(s) scraped.
Completed: 21 webpage(s) scraped.
Completed: 22 webpage(s) scraped.
Completed: 23 webpage(s) scraped.
Completed: 24 webpage(s) scraped.
Completed: 25 webpage(s) scraped.
Webdriver is acting immediately after ‘closing’ the browser
Completed: 26 webpage(s) scraped.

In [8]:
# dataframe_list is a list of all dataframes
dataframe_list

[             PLAYER TEAM AGE  GP   W   L   MIN   PTS              FGM  \
 0        Trae Young  ATL  23  76  40  36  2652  2155              711
 1     DeMar DeRozan  CHI  32  76  43  33  2743  2118              774
 2       Joel Embiid  PHI  28  68  45  23  2296  2079              666
 3      Jayson Tatum  BOS  24  76  49  27  2731  2046              708
 4      Nikola Jokic  DEN  27  74  46  28  2476  2004              764
 ..              ...  ...  ..  ..  ..  ..   ...   ...              ...
 600     Nate Hinton  IND  23   2   0   2     2     0                0
 601      Sam Dekker  TOR  28   1   1   0     1     0                0
 602  Trayvon Palmer  DET  27   1   0   1    17     0                0
 603      Tyler Hall  NYK  25   1   1   0     2     0                0
 604  Zylan Cheatham  UTA  26   1   0   1     5     0                0

                   FGA  ...               REB              AST  \
 0                1544  ...               284              737
 1                1535  ...               392              374
 2                1334  ...               796              284
 3                1564  ...               609              334
 4                1311  ...              1019              584
 ..                ...  ...               ...              ...
 600                 1  ...                 0                0
 601                 0  ...                 0                0
 602                 1  ...                 2                0
 603                 0  ...                 0                0
 604                 3  ...                 0                0

                  TOV              STL             BLK               PF  \
 0                303               72               7              128
 1                181               68              24              178
 2                214               77              99              181
 3                217               75              49              174
 4                281              109              63              191
 ..               ...              ...             ...              ...
 600                1                0               0                0
 601                0                0               0                0
 602                1                0               0                2
 603                0                0               0                0
 604                0                0               0                0

                                FP DD2 TD3  +/-
 0                3535.3            42   0  159
 1                3244.4             6   0   77
 2                3774.2            46   2  368
 3                3432.8            22   0  667
 4                4337.8            66  19  444
 ..                            ...  ..  ..  ...
 600                -1.0             0   0    4
 601                 0.0             0   0   -5
 602                 1.4             0   0  -12
 603                 0.0             0   0   -5
 604                 0.0             0   0  -13

 [605 rows x 29 columns],
                PLAYER TEAM AGE  GP   W   L   MIN   PTS              FGM  \
 0       Stephen Curry  GSW  33  63  37  26  2152  2015              658
 1      Damian Lillard  POR  30  67  39  28  2398  1928              602
 2        Nikola Jokic  DEN  26  72  47  25  2488  1898              732
 3        Bradley Beal  WAS  28  60  32  28  2147  1878              670
 4         Luka Doncic  DAL  22  66  40  26  2262  1830              647
 ..                ...  ...  ..  ..  ..  ..   ...   ...              ...
 535  Anzejs Pasecniks  WAS  25   1   1   0     6     0                0
 536     Ashton Hagans  MIN  21   2   0   2     4     0                0
 537  Greg Whittington  DEN  28   4   3   1    12     0                0
 538       Noah Vonleh  BKN  25   4   3   1    11     0                0
 539       Will Magnay  NOP  23   1   1   0     3     0                0

                   FGA  ...              REB              AST              TOV  \
 0                1365  ...              345              363              213
 1                1334  ...              283              505              203
 2                1293  ...              780              599              222
 3                1382  ...              283              265              187
 4                1351  ...              527              567              281
 ..                ...  ...              ...              ...              ...
 535                 1  ...                1                1                5
 536                 0  ...                0                0                1
 537                 3  ...                0                0                0
 538                 3  ...                1                1                2
 539                 1  ...                0                0                1

                 STL             BLK               PF  \
 0                77               8              119
 1                62              17              102
 2                95              48              192
 3                69              22              140
 4                64              36              152
 ..              ...             ...              ...
 535               0               0                2
 536               0               0                0
 537               0               0                0
 538               0               0                2
 539               0               0                1

                                FP DD2 TD3  +/-
 0                3015.5             8   0  244
 1                3059.1            16   0  198
 2                3939.5            60  16  384
 3                2701.1             4   0   -3
 4                3331.9            26  11  164
 ..                            ...  ..  ..  ...
 535                -2.3             0   0  -13
 536                -1.0             0   0   -3
 537                 0.0             0   0    9
 538                 0.7             0   0  -16
 539                -1.0             0   0  -10

 [540 rows x 29 columns],
                     PLAYER TEAM AGE  GP   W   L   MIN   PTS              FGM  \
 0             James Harden  HOU  30  68  43  25  2483  2335              672
 1           Damian Lillard  POR  29  66  33  33  2474  1978              624
 2             Devin Booker  PHX  23  70  34  36  2512  1863              627
 3    Giannis Antetokounmpo  MIL  25  63  51  12  1917  1857              685
 4               Trae Young  ATL  21  60  18  42  2120  1778              546
 ..                     ...  ...  ..  ..  ..  ..   ...   ...              ...
 524            Isaiah Roby  OKC  22   3   2   1    11     0                0
 525            J.P. Macura  CLE  25   1   1   0     1     0                0
 526         Marques Bolden  CLE  22   1   0   1     3     0                0
 527           Stanton Kidd  UTA  28   4   3   1    15     0                0
 528         William Howard  HOU  26   2   1   1    13     0                0

                   FGA  ...              REB              AST              TOV  \
 0                1514  ...              446              512              308
 1                1349  ...              284              530              194
 2                1283  ...              297              456              264
 3                1238  ...              856              354              230
 4                1249  ...              255              560              289
 ..                ...  ...              ...              ...              ...
 524                 1  ...                2                0                1
 525                 0  ...                0                0                0
 526                 0  ...                2                0                0
 527                 3  ...                3                1                2
 528                 4  ...                2                1                1

                  STL             BLK               PF  \
 0                125              60              227
 1                 70              22              114
 2                 49              18              213
 3                 61              66              195
 4                 65               8              104
 ..               ...             ...              ...
 524                0               0                1
 525                0               0                0
 526                1               0                1
 527                0               0                3
 528                0               0                1

                                FP DD2 TD3   +/-
 0                3885.2            22   4   286
 1                3195.8            19   1    85
 2                2840.4            11   0   130
 3                3566.2            56   4   682
 4                2854.0            28   2  -228
 ..                            ...  ..  ..   ...
 524                 1.4             0   0    -4
 525                 0.0             0   0     3
 526                 5.4             0   0     4
 527                 3.1             0   0    -1
 528                 2.9             0   0   -16

 [529 rows x 29 columns],
              PLAYER TEAM AGE  GP   W   L   MIN   PTS              FGM  \
 0      James Harden  HOU  29  78  51  27  2867  2818              843
 1       Paul George  OKC  29  77  46  31  2841  2159              707
 2      Kemba Walker  CHA  29  82  39  43  2863  2102              731
 3      Bradley Beal  WAS  26  82  32  50  3028  2099              764
 4    Damian Lillard  POR  28  80  51  29  2838  2067              681
 ..              ...  ...  ..  ..  ..  ..   ...   ...              ...
 525    Kobi Simmons  CLE  21   1   0   1     2     0                0
 526     Okaro White  WAS  26   3   2   1     6     0                0
 527     Tyler Davis  OKC  22   1   1   0     1     0                0
 528      Tyler Ulis  CHI  23   1   0   1     1     0                0
 529     Zach Lofton  DET  26   1   1   0     4     0                0

                   FGA  ...              REB              AST              TOV  \
 0                1909  ...              518              586              387
 1                1614  ...              628              318              205
 2                1684  ...              361              484              211
 3                1609  ...              411              448              224
 4                1533  ...              371              551              212
 ..                ...  ...              ...              ...              ...
 525                 0  ...                0                0                0
 526                 2  ...                2                0                0
 527                 1  ...                1                0                0
 528                 0  ...                0                0                0
 529                 1  ...                0                0                1

                  STL             BLK               PF  \
 0                158              58              244
 1                170              34              214
 2                102              34              131
 3                121              58              226
 4                 88              34              148
 ..               ...             ...              ...
 525                0               0                0
 526                0               0                0
 527                0               0                0
 528                0               0                0
 529                1               0                0

                                FP DD2 TD3   +/-
 0                4579.6            34   7   357
 1                3796.6            24   1   496
 2                3458.2            10   0    36
 3                3577.2            11   2  -112
 4                3492.7            13   0   494
 ..                            ...  ..  ..   ...
 525                 0.0             0   0     3
 526                 2.4             0   0    -3
 527                 1.2             0   0     0
 528                 0.0             0   0     0
 529                 2.0             0   0     0

 [530 rows x 29 columns],
                     PLAYER TEAM AGE  GP   W   L   MIN   PTS              FGM  \
 0             LeBron James  CLE  33  82  50  32  3026  2251              857
 1             James Harden  HOU  28  72  59  13  2551  2191              651
 2            Anthony Davis  NOP  25  75  45  30  2727  2110              780
 3        Russell Westbrook  OKC  29  80  47  33  2914  2028              757
 4    Giannis Antetokounmpo  MIL  23  75  39  36  2756  2014              742
 ..                     ...  ...  ..  ..  ..  ..   ...   ...              ...
 535   Mindaugas Kuzminskas  NYK  28   1   0   1     2     0                0
 536       Nicolas Brussino  ATL  25   4   0   4    10     0                0
 537    Trey McKinney-Jones  IND  27   1   1   0     1     0                0
 538            Tyler Lydon  DEN  22   1   1   0     2     0                0
 539           Xavier Silas  BOS  30   2   1   1     7     0                0

                   FGA  ...              REB              AST              TOV  \
 0                1580  ...              709              747              347
 1                1449  ...              389              630              315
 2                1462  ...              831              174              162
 3                1687  ...              804              820              381
 4                1402  ...              753              361              223
 ..                ...  ...              ...              ...              ...
 535                 2  ...                0                0                0
 536                 2  ...                3                0                0
 537                 0  ...                0                0                0
 538                 0  ...                0                0                0
 539                 3  ...                2                0                0

                  STL              BLK               PF  \
 0                116               71              136
 1                126               50              169
 2                115              193              159
 3                147               20              200
 4                109              106              231
 ..               ...              ...              ...
 535                0                0                0
 536                0                0                0
 537                0                0                0
 538                0                0                0
 539                1                0                1

                                FP DD2 TD3  +/-
 0                4436.3            52  18  105
 1                3815.8            31   4  522
 2                4130.2            50   1  294
 3                4342.8            59  25  384
 4                3881.1            42   1  148
 ..                            ...  ..  ..  ...
 535                 0.0             0   0    0
 536                 3.6             0   0   17
 537                 0.0             0   0    0
 538                 0.0             0   0   -6
 539                 5.4             0   0    1

 [540 rows x 29 columns],
                  PLAYER TEAM AGE  GP   W   L   MIN   PTS              FGM  \
 0     Russell Westbrook  OKC  28  81  46  35  2802  2558              824
 1          James Harden  HOU  27  81  54  27  2947  2356              674
 2         Isaiah Thomas  BOS  28  76  51  25  2569  2199              682
 3         Anthony Davis  NOP  24  75  31  44  2708  2099              770
 4    Karl-Anthony Towns  MIN  21  82  31  51  3030  2061              802
 ..                  ...  ...  ..  ..  ..  ..   ...   ...              ...
 481      Aaron Harrison  CHA  22   5   2   3    17     1                0
 482          Ben Bentil  DAL  22   3   2   1    10     0                0
 483    Danuel House Jr.  WAS  24   1   0   1     1     0                0
 484     Patricio Garino  ORL  24   5   2   3    43     0                0
 485           RJ Hunter  CHI  23   3   2   1     9     0                0

                   FGA  ...               REB              AST  \
 0                1941  ...               864              840
 1                1533  ...               659              907
 2                1473  ...               204              448
 3                1526  ...               884              157
 4                1480  ...              1007              220
 ..                ...  ...               ...              ...
 481                 4  ...                 3                3
 482                 3  ...                 2                0
 483                 0  ...                 1                0
 484                 7  ...                 7                0
 485                 1  ...                 1                0

                  TOV              STL              BLK               PF  \
 0                438              132               31              190
 1                464              121               38              215
 2                210               70               13              167
 3                181               94              167              168
 4                212               56              103              241
 ..               ...              ...              ...              ...
 481                0                0                0                2
 482                1                0                0                1
 483                0                0                0                0
 484                3                0                0                4
 485                0                0                0                0

                                FP DD2 TD3  +/-
 0                4905.8            62  42  249
 1                4520.3            64  22  424
 2                3154.8             5   0  275
 3                3997.3            49   0   51
 4                3864.4            62   1  -26
 ..                            ...  ..  ..  ...
 481                 9.1             0   0   -5
 482                 1.4             0   0  -12
 483                 1.2             0   0    0
 484                 5.4             0   0  -14
 485                 1.2             0   0  -10

 [486 rows x 29 columns],
              PLAYER TEAM AGE  GP   W   L   MIN   PTS              FGM  \
 0      James Harden  HOU  26  82  41  41  3125  2376              710
 1     Stephen Curry  GSW  28  79  71   8  2700  2375              805
 2      Kevin Durant  OKC  27  72  52  20  2578  2029              698
 3      LeBron James  CLE  31  76  56  20  2709  1920              737
 4    Damian Lillard  POR  25  75  40  35  2676  1879              618
 ..              ...  ...  ..  ..  ..  ..   ...   ...              ...
 471   Bruno Caboclo  TOR  20   6   6   0    43     3                1
 472      Joe Harris  CLE  24   5   5   0    15     3                1
 473      JJ O'Brien  UTA  24   2   2   0     6     0                0
 474   Nate Robinson  NOP  32   2   0   2    23     0                0
 475      Sam Dekker  HOU  22   3   1   2     6     0                0

                   FGA  ...              REB              AST              TOV  \
 0                1617  ...              501              612              374
 1                1598  ...              430              527              262
 2                1381  ...              589              361              250

In [10]:
# Concat all the dataframes into one table
nba_stats = pd.concat(dataframe_list, ignore_index=True)
nba_stats

,PLAYER,TEAM,AGE,GP,W,L,MIN,PTS,FGM,FGA,...,REB,AST,TOV,STL,BLK,PF,FP,DD2,TD3,+/-
0,Trae Young,ATL,23,76,40,36,2652,2155,711,1544,...,284,737,303,72,7,128,3535.3,42,0,159
1,DeMar DeRozan,CHI,32,76,43,33,2743,2118,774,1535,...,392,374,181,68,24,178,3244.4,6,0,77
2,Joel Embiid,PHI,28,68,45,23,2296,2079,666,1334,...,796,284,214,77,99,181,3774.2,46,2,368
3,Jayson Tatum,BOS,24,76,49,27,2731,2046,708,1564,...,609,334,217,75,49,174,3432.8,22,0,667
4,Nikola Jokic,DEN,27,74,46,28,2476,2004,764,1311,...,1019,584,281,109,63,191,4337.8,66,19,444
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12302,Anthony Miller,ATL,25,1,0,1,14,0,0,5,...,7,0,0,0,0,2,8.4,0,0,-14
12303,Bruce Bowen,MIA,26,1,1,0,1,0,0,0,...,0,0,0,0,1,0,3.0,0,0,3
12304,Cuonzo Martin,MIL,25,3,0,3,13,0,0,7,...,1,1,1,0,0,1,1.7,0,0,-2
12305,Derrick Alston,ATL,24,2,1,1,11,0,0,5,...,4,0,0,0,0,0,4.8,0,0,-7
12306,Elmore Spencer,SEA,27,1,1,0,5,0,0,1,...,0,0,1,1,0,0,2.0,0,0,-15

# Prepare and Clean Data

In [11]:
# Check datatypes
nba_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12307 entries, 0 to 12306
Data columns (total 29 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   PLAYER  12307 non-null  object
 1   TEAM    12307 non-null  object
 2   AGE     12307 non-null  object
 3   GP      12307 non-null  object
 4   W       12307 non-null  object
 5   L       12307 non-null  object
 6   MIN     12307 non-null  object
 7   PTS     12307 non-null  object
 8   FGM     12307 non-null  object
 9   FGA     12307 non-null  object
 10  FG%     12307 non-null  object
 11  3PM     12307 non-null  object
 12  3PA     12307 non-null  object
 13  3P%     12307 non-null  object
 14  FTM     12307 non-null  object
 15  FTA     12307 non-null  object
 16  FT%     12307 non-null  object
 17  OREB    12307 non-null  object
 18  DREB    12307 non-null  object
 19  REB     12307 non-null  object
 20  AST     12307 non-null  object
 21  TOV     12307 non-null  object
 22  STL     12307 non-null  object
 23  BLK     12307 non-null  object
 24  PF      12307 non-null  object
 25  FP      12307 non-null  object
 26  DD2     12307 non-null  object
 27  TD3     12307 non-null  object
 28  +/-     12307 non-null  object
dtypes: object(29)
memory usage: 2.7+ MB

In [12]:
# Get column names
nba_stats.columns

Index(['PLAYER', 'TEAM', 'AGE', 'GP', 'W', 'L', 'MIN', 'PTS', 'FGM', 'FGA',
       'FG%', '3PM', '3PA', '3P%', 'FTM', 'FTA', 'FT%', 'OREB', 'DREB', 'REB',
       'AST', 'TOV', 'STL', 'BLK', 'PF', 'FP', 'DD2', 'TD3', '+/-'],
      dtype='object')

In [13]:
# Change datatypes to numeric for appropriate columns
nba_stats[['AGE', 'GP', 'W', 'L', 'MIN', 'PTS', 'FGM', 'FGA',
                 'FG%', '3PM', '3PA', '3P%', 'FTM', 'FTA', 'FT%', 
                 'OREB', 'DREB', 'REB','AST', 'TOV', 'STL', 'BLK', 
                 'PF', 'FP', 'DD2', 'TD3', '+/-']] = nba_stats[['AGE', 'GP', 'W', 'L', 'MIN', 'PTS', 
                                                                      'FGM', 'FGA','FG%', '3PM', '3PA', '3P%', 
                                                                      'FTM', 'FTA', 'FT%', 'OREB', 'DREB', 'REB',
                                                                      'AST', 'TOV', 'STL', 'BLK', 'PF', 'FP', 'DD2', 
                                                                      'TD3', '+/-']].apply(pd.to_numeric)

In [14]:
# Verify datatype changes
nba_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12307 entries, 0 to 12306
Data columns (total 29 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   PLAYER  12307 non-null  object
 1   TEAM    12307 non-null  object
 2   AGE     12307 non-null  int64
 3   GP      12307 non-null  int64
 4   W       12307 non-null  int64
 5   L       12307 non-null  int64
 6   MIN     12307 non-null  int64
 7   PTS     12307 non-null  int64
 8   FGM     12307 non-null  int64
 9   FGA     12307 non-null  int64
 10  FG%     12307 non-null  float64
 11  3PM     12307 non-null  int64
 12  3PA     12307 non-null  int64
 13  3P%     12307 non-null  float64
 14  FTM     12307 non-null  int64
 15  FTA     12307 non-null  int64
 16  FT%     12307 non-null  float64
 17  OREB    12307 non-null  int64
 18  DREB    12307 non-null  int64
 19  REB     12307 non-null  int64
 20  AST     12307 non-null  int64
 21  TOV     12307 non-null  int64
 22  STL     12307 non-null  int64
 23  BLK     12307 non-null  int64
 24  PF      12307 non-null  int64
 25  FP      12307 non-null  float64
 26  DD2     12307 non-null  int64
 27  TD3     12307 non-null  int64
 28  +/-     12307 non-null  int64
dtypes: float64(4), int64(23), object(2)
memory usage: 2.7+ MB

In [17]:
# Look at dimension
nba_stats.shape

(12307, 29)

In [21]:
# Find duplicate rows, if any
duplicateRows = nba_stats[nba_stats.duplicated()]
duplicateRows

Empty DataFrame
Columns: [PLAYER, TEAM, AGE, GP, W, L, MIN, PTS, FGM, FGA, FG%, 3PM, 3PA, 3P%, FTM, FTA, FT%, OREB, DREB, REB, AST, TOV, STL, BLK, PF, FP, DD2, TD3, +/-]
Index: []

[0 rows x 29 columns]

There are no duplicate rows

In [22]:
# Remove columns that are redundant, unnecessary
nba_stats2 = nba_stats.drop(['TEAM','PF','FP',
                          'DD2','TD3','+/-'], axis=1)

nba_stats2.head()

,PLAYER,AGE,GP,W,L,MIN,PTS,FGM,FGA,FG%,...,FTM,FTA,FT%,OREB,DREB,REB,AST,TOV,STL,BLK
0,Trae Young,23,76,40,36,2652,2155,711,1544,46.0,...,500,553,90.4,50,234,284,737,303,72,7
1,DeMar DeRozan,32,76,43,33,2743,2118,774,1535,50.4,...,520,593,87.7,56,336,392,374,181,68,24
2,Joel Embiid,28,68,45,23,2296,2079,666,1334,49.9,...,654,803,81.4,146,650,796,284,214,77,99
3,Jayson Tatum,24,76,49,27,2731,2046,708,1564,45.3,...,400,469,85.3,85,524,609,334,217,75,49
4,Nikola Jokic,27,74,46,28,2476,2004,764,1311,58.3,...,379,468,81.0,206,813,1019,584,281,109,63

In [23]:
# Look at dimension
nba_stats2.shape

(12307, 23)

### Save file

In [24]:
# Save as csv file
nba_stats2.to_csv('nba_stats.csv', encoding='utf-8', index=False)

In [25]:
# Check that it's saved
nba_stats2 = pd.read_csv('nba_stats.csv', encoding='utf-8')
nba_stats2

,PLAYER,AGE,GP,W,L,MIN,PTS,FGM,FGA,FG%,...,FTM,FTA,FT%,OREB,DREB,REB,AST,TOV,STL,BLK
0,Trae Young,23,76,40,36,2652,2155,711,1544,46.0,...,500,553,90.4,50,234,284,737,303,72,7
1,DeMar DeRozan,32,76,43,33,2743,2118,774,1535,50.4,...,520,593,87.7,56,336,392,374,181,68,24
2,Joel Embiid,28,68,45,23,2296,2079,666,1334,49.9,...,654,803,81.4,146,650,796,284,214,77,99
3,Jayson Tatum,24,76,49,27,2731,2046,708,1564,45.3,...,400,469,85.3,85,524,609,334,217,75,49
4,Nikola Jokic,27,74,46,28,2476,2004,764,1311,58.3,...,379,468,81.0,206,813,1019,584,281,109,63
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12302,Anthony Miller,25,1,0,1,14,0,0,5,0.0,...,0,0,0.0,2,5,7,0,0,0,0
12303,Bruce Bowen,26,1,1,0,1,0,0,0,0.0,...,0,0,0.0,0,0,0,0,0,0,1
12304,Cuonzo Martin,25,3,0,3,13,0,0,7,0.0,...,0,0,0.0,1,0,1,1,1,0,0
12305,Derrick Alston,24,2,1,1,11,0,0,5,0.0,...,0,2,0.0,3,1,4,0,0,0,0
12306,Elmore Spencer,27,1,1,0,5,0,0,1,0.0,...,0,0,0.0,0,0,0,0,1,1,0

In [90]:
test = nba_stats2[nba_stats2['PLAYER'] == 'Stephen Curry']
test

,PLAYER,AGE,GP,W,L,MIN,PTS,FGM,FGA,FG%,...,FTM,FTA,FT%,OREB,DREB,REB,AST,TOV,STL,BLK
13,Stephen Curry,34,64,45,19,2211,1630,535,1224,43.7,...,275,298,92.3,34,301,335,404,206,85,23
605,Stephen Curry,33,63,37,26,2152,2015,658,1365,48.2,...,362,395,91.6,29,316,345,363,213,77,8
1529,Stephen Curry,32,5,1,4,139,104,33,82,40.2,...,26,26,100.0,4,22,26,33,16,5,2
1681,Stephen Curry,31,69,52,17,2331,1881,632,1340,47.2,...,263,287,91.6,45,324,369,361,192,92,25
2233,Stephen Curry,30,51,41,10,1631,1346,428,864,49.5,...,278,302,92.1,36,225,261,310,153,80,8
2751,Stephen Curry,29,79,65,14,2639,1999,675,1443,46.8,...,325,362,89.8,61,292,353,524,239,142,17
3231,Stephen Curry,28,79,71,8,2700,2375,805,1598,50.4,...,363,400,90.8,68,362,430,527,262,169,15
3707,Stephen Curry,27,80,67,13,2613,1900,653,1341,48.7,...,308,337,91.4,56,285,341,619,249,163,16
4203,Stephen Curry,26,78,50,28,2846,1873,652,1383,47.1,...,308,348,88.5,46,288,334,666,294,128,14
4686,Stephen Curry,25,78,45,33,2983,1786,626,1388,45.1,...,262,291,90.0,59,255,314,539,240,126,12
5354,Stephen Curry,24,26,13,13,732,383,145,296,49.0,...,38,47,80.9,15,73,88,138,65,39,8
5654,Stephen Curry,23,74,33,41,2489,1373,505,1053,48.0,...,212,227,93.4,52,234,286,432,226,109,20
6107,Stephen Curry,22,80,25,55,2896,1399,528,1143,46.2,...,177,200,88.5,48,308,356,472,243,152,19

This tells us that some players play multiple years and will have multiple rows of stats.

It is simplest to compress them into one row per player and get the average for the stats.

Since most rookie contracts are up to 4 years, we'll only look at non-rookie players, i.e. players who have played for 5 or more years.

In [91]:
# Let's see the dataframe of players and the number of years they've played
years_played = nba_stats2['PLAYER'].value_counts()
years_played

Vince Carter      22
Dirk Nowitzki     21
Kobe Bryant       20
Kevin Garnett     20
Jamal Crawford    20
                  ..
Kevin Murphy       1
Kris Joseph        1
Fab Melo           1
Josh Akognon       1
Elmore Spencer     1
Name: PLAYER, Length: 2454, dtype: int64

In [92]:
# Create a dataframe of players and # of years, rename index and columns
years_played = nba_stats2['PLAYER'].value_counts().rename_axis('Players').reset_index(name='counts')
years_played

             Players  counts
0       Vince Carter      22
1      Dirk Nowitzki      21
2        Kobe Bryant      20
3      Kevin Garnett      20
4     Jamal Crawford      20
...              ...     ...
2449    Kevin Murphy       1
2450     Kris Joseph       1
2451        Fab Melo       1
2452    Josh Akognon       1
2453  Elmore Spencer       1

[2454 rows x 2 columns]

In [93]:
years_played.columns

Index(['Players', 'counts'], dtype='object')

In [94]:
# Filter out the rookies, keep players who have played for more than 4 years
years_played2 = years_played[years_played['counts'] >4]
years_played2

             Players  counts
0       Vince Carter      22
1      Dirk Nowitzki      21
2        Kobe Bryant      20
3      Kevin Garnett      20
4     Jamal Crawford      20
...              ...     ...
1008  Markelle Fultz       5
1009   David Wingate       5
1010  Henry Ellenson       5
1011        Sam Mack       5
1012  Duane Causwell       5

[1013 rows x 2 columns]

In [95]:
# Make a list with the players who have played for more than 4 years
inclusion = years_played2['Players']
inclusion

0         Vince Carter
1        Dirk Nowitzki
2          Kobe Bryant
3        Kevin Garnett
4       Jamal Crawford
             ...
1008    Markelle Fultz
1009     David Wingate
1010    Henry Ellenson
1011          Sam Mack
1012    Duane Causwell
Name: Players, Length: 1013, dtype: object

In [96]:
nba_nr = nba_stats2[nba_stats2['PLAYER'].isin(inclusion)]
nba_nr

,PLAYER,AGE,GP,W,L,MIN,PTS,FGM,FGA,FG%,...,FTM,FTA,FT%,OREB,DREB,REB,AST,TOV,STL,BLK
1,DeMar DeRozan,32,76,43,33,2743,2118,774,1535,50.4,...,520,593,87.7,56,336,392,374,181,68,24
2,Joel Embiid,28,68,45,23,2296,2079,666,1334,49.9,...,654,803,81.4,146,650,796,284,214,77,99
3,Jayson Tatum,24,76,49,27,2731,2046,708,1564,45.3,...,400,469,85.3,85,524,609,334,217,75,49
4,Nikola Jokic,27,74,46,28,2476,2004,764,1311,58.3,...,379,468,81.0,206,813,1019,584,281,109,63
5,Giannis Antetokounmpo,27,67,45,22,2204,2002,689,1245,55.3,...,553,766,72.2,134,644,778,388,219,72,91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12251,Ben Wallace,22,34,21,13,194,38,16,46,34.8,...,6,20,30.0,25,33,58,2,18,8,11
12275,Antonio Harvey,26,6,6,0,27,15,5,11,45.5,...,5,6,83.3,2,8,10,1,1,0,4
12282,Moochie Norris,23,8,2,6,88,12,4,22,18.2,...,2,5,40.0,3,9,12,23,5,4,0
12302,Anthony Miller,25,1,0,1,14,0,0,5,0.0,...,0,0,0.0,2,5,7,0,0,0,0
12303,Bruce Bowen,26,1,1,0,1,0,0,0,0.0,...,0,0,0.0,0,0,0,0,0,0,1

In [97]:
# Groupby player to compress each player down to one row, then take the mean of the stats
nba_nr2 = nba_nr.groupby('PLAYER').mean().round(3)
nba_nr2 = nba_nr2.reset_index() # reset the index
nba_nr2

,PLAYER,AGE,GP,W,L,MIN,PTS,FGM,FGA,FG%,...,FTM,FTA,FT%,OREB,DREB,REB,AST,TOV,STL,BLK
0,A.C. Green,35.000,75.800,35.800,40.000,1881.000,444.600,180.200,397.000,44.980,...,83.800,123.400,67.000,158.000,312.200,470.200,67.200,51.800,51.800,15.400
1,AJ Price,25.500,43.500,19.833,23.667,654.667,253.833,91.500,240.667,38.000,...,34.500,46.500,62.067,11.333,51.500,62.833,94.500,38.167,20.833,1.500
2,Aaron Brooks,28.100,64.500,35.900,28.600,1343.900,625.900,226.100,547.800,41.090,...,91.700,109.500,82.000,25.400,82.500,107.900,192.500,100.000,35.900,8.700
3,Aaron Gordon,22.500,66.000,29.875,36.125,1909.500,860.875,325.625,707.875,45.962,...,136.250,194.000,70.062,105.125,308.625,413.750,164.125,99.000,48.625,41.875
4,Aaron Gray,26.000,45.429,17.714,27.714,550.000,152.286,62.857,123.429,50.857,...,26.571,47.286,56.586,61.571,108.429,170.000,29.571,37.857,13.429,12.429
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1008,Zach Randolph,28.000,65.647,33.000,32.647,2036.647,1092.824,437.412,927.882,47.041,...,206.294,270.118,75.318,192.824,407.588,600.412,120.529,134.706,49.059,17.706
1009,Zaza Pachulia,27.500,68.625,34.062,34.562,1389.562,463.375,163.000,347.438,46.912,...,137.375,182.938,74.975,147.625,247.062,394.688,89.562,90.250,48.000,23.625
1010,Zeljko Rebraca,32.000,43.000,24.000,19.000,655.600,255.200,97.600,185.200,52.180,...,60.000,75.800,78.900,39.200,98.400,137.600,17.600,40.600,11.400,32.000
1011,Zendon Hamilton,28.500,22.333,8.500,13.833,259.333,97.500,29.333,66.667,40.383,...,38.833,58.833,70.767,30.667,46.667,77.333,5.500,18.000,6.500,4.667
1012,Zydrunas Ilgauskas,29.846,64.846,36.000,28.846,1766.692,844.308,323.615,680.154,47.838,...,194.692,249.462,76.069,188.000,288.231,476.231,73.462,116.154,32.385,102.077

In [98]:
# Verify each player only has one row
test2 = nba_nr2[nba_nr2['PLAYER'] == 'Stephen Curry']
test2

,PLAYER,AGE,GP,W,L,MIN,PTS,FGM,FGA,FG%,...,FTM,FTA,FT%,OREB,DREB,REB,AST,TOV,STL,BLK
893,Stephen Curry,28.0,63.538,41.923,21.615,2181.692,1543.385,528.846,1116.923,46.931,...,245.923,270.769,90.838,42.538,252.692,295.231,414.462,199.846,105.154,14.385

## Save into csv file

In [99]:
nba_nr2.to_csv('nba_stats_cleaned.csv', index=False)

In [100]:
# Check that it's saved
nba_stats = pd.read_csv('nba_stats_cleaned.csv')
nba_stats

,PLAYER,AGE,GP,W,L,MIN,PTS,FGM,FGA,FG%,...,FTM,FTA,FT%,OREB,DREB,REB,AST,TOV,STL,BLK
0,A.C. Green,35.000,75.800,35.800,40.000,1881.000,444.600,180.200,397.000,44.980,...,83.800,123.400,67.000,158.000,312.200,470.200,67.200,51.800,51.800,15.400
1,AJ Price,25.500,43.500,19.833,23.667,654.667,253.833,91.500,240.667,38.000,...,34.500,46.500,62.067,11.333,51.500,62.833,94.500,38.167,20.833,1.500
2,Aaron Brooks,28.100,64.500,35.900,28.600,1343.900,625.900,226.100,547.800,41.090,...,91.700,109.500,82.000,25.400,82.500,107.900,192.500,100.000,35.900,8.700
3,Aaron Gordon,22.500,66.000,29.875,36.125,1909.500,860.875,325.625,707.875,45.962,...,136.250,194.000,70.062,105.125,308.625,413.750,164.125,99.000,48.625,41.875
4,Aaron Gray,26.000,45.429,17.714,27.714,550.000,152.286,62.857,123.429,50.857,...,26.571,47.286,56.586,61.571,108.429,170.000,29.571,37.857,13.429,12.429
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1008,Zach Randolph,28.000,65.647,33.000,32.647,2036.647,1092.824,437.412,927.882,47.041,...,206.294,270.118,75.318,192.824,407.588,600.412,120.529,134.706,49.059,17.706
1009,Zaza Pachulia,27.500,68.625,34.062,34.562,1389.562,463.375,163.000,347.438,46.912,...,137.375,182.938,74.975,147.625,247.062,394.688,89.562,90.250,48.000,23.625
1010,Zeljko Rebraca,32.000,43.000,24.000,19.000,655.600,255.200,97.600,185.200,52.180,...,60.000,75.800,78.900,39.200,98.400,137.600,17.600,40.600,11.400,32.000
1011,Zendon Hamilton,28.500,22.333,8.500,13.833,259.333,97.500,29.333,66.667,40.383,...,38.833,58.833,70.767,30.667,46.667,77.333,5.500,18.000,6.500,4.667
1012,Zydrunas Ilgauskas,29.846,64.846,36.000,28.846,1766.692,844.308,323.615,680.154,47.838,...,194.692,249.462,76.069,188.000,288.231,476.231,73.462,116.154,32.385,102.077